*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/keystore.properties
/keys.jks
/.kotlin/

# IDEA/Android Studio project files
.idea/*
# Keep icon
!.idea/icon.png
# Keep code styles
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
