<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!--Receivers-->
        <receiver
            android:name="com.w2sv.widget.WifiWidgetProvider"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name="com.w2sv.widget.actions.WidgetPinSuccessBroadcastReceiver" />

        <!--Services-->
        <service
            android:name="com.w2sv.widget.ui.properties.WifiPropertyViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!--Activities-->
        <activity
            android:name="com.w2sv.widget.ui.properties.CopyPropertyToClipboardActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="com.w2sv.wifiwidget.taskaffinity.CopyPropertyToClipboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>
