<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.SplashScreen"
        tools:targetApi="tiramisu">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Receivers-->

        <receiver
            android:name="com.w2sv.widget.WifiWidgetReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name="com.w2sv.widget.WidgetPinSuccessBroadcastReceiver" />

        <activity
            android:name="com.w2sv.widget.CopyPropertyToClipboardActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="com.w2sv.wifiwidget.taskaffinity.CopyPropertyToClipboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--Services-->

        <service
            android:name="com.w2sv.widget.layout.WifiPropertyViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>
</manifest>
